<div class="semester-widget">
  <%= form_tag(courseplan_plan_entry_path(courseplan.id, entry.id), method: :patch) do %>
    Change semester:
    <%= select("Choose", "semester",
               semester_with_year_hash(GlobalConstants::SEASONS),
               {selected: default_semester_for(entry)},
               {:class => "select-small",
                :onchange => "this.form.submit()"}) %>
    <% if !entry.semester.nil? %>
      <%= link_to 'No semester',
                  courseplan_plan_entry_path(courseplan.id, entry.id, :no_semester => true),
                  method: :patch,
                  class: "btn btn-xs btn-default"%>
    <% else %>
    <%= submit_tag("Update", class: "btn btn-xs btn-default") %>
    <% end %>  
  <% end %>
    

    
  
</div>