<% if current_user.courseplans.any? %>
  <%= render partial: 'courseplans/show_plan',
                      object: current_user.active_courseplan,
                      as: 'courseplan' %>
<% else %>
  <p>You currently have no course plans.</p>
<% end %>

<%= link_to "Create course plan", new_courseplan_path, class: "btn btn-primary" %>