<h2><%= courseplan.name %></h2>
<ul>
  <% courseplan.courses.each do |course| %>
    <li><%= render partial: 'courses/course_widget',
                   locals: { courseplan: courseplan, course: course }%></li>
  <% end %>
</ul>

<%= render partial: 'courseplans/other_courseplans',
                     object: courseplan,
                     as: 'courseplan' %>