<ul>
  <% Course.all_sorted.each do |course| %>
    <li><%= render partial: 'courses/course_widget',
                   locals: { courseplan: current_user.active_courseplan,
                             course: course }%></li>
  <% end %>
</ul>