<span class="coursename"><%= course_link course %></span>
<% unless courseplan.nil? %>
  <%= render partial: 'courses/addition_widget',
             locals: { courseplan: courseplan, course: course } %>
  <%= render partial: 'courses/removal_widget',
             locals: { courseplan: courseplan, course: course } %>
<% end %>
