// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* course widgets */
@mixin widget {
  font-weight: bold;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: #000;
}

  
.addition {
  background-color: #B0FFC9;
  @include widget;
}

.removal {
  background-color: #F29BA6;
  @include widget;
}

.coursename {
  font-size: 1.5em;
} 