@import "bootstrap";

body {
  margin: 20 px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 70px;
}

.btn-form {
  margin-top: 20px;
}

.control-label {
  margin-top: 10px;
}

/* Titles */


/* Navbar */

.navbar {
  box-shadow: 3px 3px 3px #777;
  padding-right: 20px;
  padding-left: 20px;
}

.navbar-brand {
  letter-spacing: -1px;
  font-weight: bold;
}

.nav {
  padding: 0px;
  line-height: 10px;
}

.navbar-nav {
  padding: 0px;
  &:hover {
    background: #aaf;
  }
}

/* Errors */

.error_explanation {
  border-radius: 10px;
  background: #faa;
  padding: 10px;
}

.alert {
  padding: 0px;
  margin: 0px;
  font-weight: bold;
}

.alert-error {
  border-radius: 10px;
  background: #faa;
  padding: 0px;
  margin: 0px;
}

.alert-notice {
  border-radius: 10px;
  background: #FFE736;
  padding: 0px;
  margin: 0px;
}

.field_with_errors {
  .form-control {
    background: #ffe1e7;
  }
}