<header>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to 'Course Chooser', root_path, class: "navbar-brand" %>
      </div>

      <ul class="nav navbar-nav">
        <li><%= link_to 'Item 1', href: "#" %></li>
        <li><%= link_to 'Item 2', href: "#" %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Sign in', '#' %>
    </div>
  </nav>
</header>